<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="samr">
    <gazebo reference="base_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="wheel1_link">
        <material>Gazebo/Blue</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo reference="wheel2_link">
        <material>Gazebo/Blue</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo reference="wheel3_link">
        <material>Gazebo/Blue</material>
        <!-- <fdir1>0 1 0"</fdir1> -->
        <!-- <mu1>1.7</mu1> -->
        <!-- <mu2>0.2</mu2> -->
    </gazebo>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name= "gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find sAMR_description)/config/omnidirectional_controller.yaml</parameters>
            <parameters>$(find sAMR_description)/config/ros2_controllers.yaml</parameters>
        </plugin>
        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher" >
            <odom_frame>world</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>/gazebo_ground_truth/odom</odom_topic>
            <dimensions>3</dimensions>
            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>
            <gaussian_noise>0.01</gaussian_noise>
        </plugin>
    </gazebo>
</robot>